
/hybris-dependencies/*
/hybris-ems/*
/hybris-Mobile-Apps-SDK/*
/hybris-oms/*
/hybris-sbg/*
licenses
/Mobile-Commerce-SDK/*
pom.xml
/hybris/data/*  
/hybris/log/*  
/hybris/sampleconfigurations/*  
/hybris/temp/*
/hybris/bin/ext-addon/*  
/hybris/bin/ext-atddtests/*
/hybris/bin/ext-channel/*  
/hybris/bin/ext-commerce/* 
/hybris/bin/ext-data/*        
/hybris/bin/ext-integration/*        
/hybris/bin/ext-print/*           
/hybris/bin/ext-template/*
/hybris/bin/ext-accelerator/*  
/hybris/bin/ext-atdd/*   
/hybris/bin/ext-backoffice/*  
/hybris/bin/ext-cockpit/*  
/hybris/bin/ext-content/*   
/hybris/bin/ext-deprecated/*  
/hybris/bin/ext-platform-optional/*  
/hybris/bin/ext-supportability/*  
/hybris/bin/custom/platform/*
/hybris/bin/custom/cuppy/*
/hybris/bin/custom/cuppytrail/jalo/*ant 
/hybris/config/.classpath
/hybris/config/.project
/hybris/config/customize/dummy.txt
/hybris/config/languages/dummy.txt
/hybris/config/licence//*
/hybris/config/readme.txt
/hybris/config/tcServer/*
/hybris/config/tomcat/*
/hybris/bin/platform/.classpath
/hybris/bin/platform/.externalToolBuilders/HybrisCodeGeneration.launch
/hybris/bin/platform/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder.launch
/hybris/bin/platform/.fbprefs
/hybris/bin/platform/.pmd
/hybris/bin/platform/.project
/hybris/bin/platform/.settings/org.eclipse.core.resources.prefs
/hybris/bin/platform/.settings/org.eclipse.jdt.core.prefs
/hybris/bin/platform/.settings/org.eclipse.jdt.ui.prefs
/hybris/bin/platform/.settings/org.eclipse.ltk.core.refactoring.prefs
/hybris/bin/platform/.settings/org.eclipse.wst.validation.prefs
/hybris/bin/platform/.settings/org.springframework.ide.eclipse.beans.core.prefs
/hybris/bin/platform/.settings/org.springframework.ide.eclipse.core.prefs
/hybris/bin/platform/adminserver.bat
/hybris/bin/platform/adminserver.sh
/hybris/bin/platform/apache-ant-1.9.1/*
/hybris/bin/platform/bootstrap/*
/hybris/bin/platform/build.number
/hybris/bin/platform/build.xml
/hybris/bin/platform/env.properties
/hybris/bin/platform/ext/*
/hybris/bin/platform/extensions.xml
/hybris/bin/platform/*
/hybris/bin/platform/hybrisserver.bat
/hybris/bin/platform/hybrisserver.sh
/hybris/bin/platform/lib/*
/hybris/bin/platform/resources/*
/hybris/bin/platform/tomcat/*
/hybris/bin/platform/velocity.log
/hybris/config/licence/*
/GIT_COLA_MSG
/HEAD
/README.md
/config
/description
/index
/info/exclude
/logs/*
/packed-refs
/refs/*
/hybris/bin/custom/cuppytrailhmc/gensrc/de/hybris/platform/cuppytrail/jalo/*
/hybris/bin/custom/cuppytrailhmc/gensrc/de/hybris/platform/cuppytrailhmc/jalo/*
/hybris/bin/custom/cuppytrail/classes/*
/hybris/bin/custom/cuppytrailhmc/classes/*
/hybris/bin/custom/cuppytrail/gensrc/*
/hybris/bin/custom/cuppytrailhmc/gensrc/*
/hybris/bin/custom/cuppytrail/src/de/hybris/platform/cuppytrail/constants/CuppytrailConstants.java
/hybris/bin/custom/cuppytrail/eclipsebin/*
/hybris/bin/custom/cuppytrailhmc/eclipsebin/*
/hybris/bin/custom/cuppytrailhmc/hmc/bin*
/hybris/bin/custom/cuppytrailgit /hmc/bin*

