
/hybris-dependencies/*
/hybris-ems/*
/hybris-Mobile-Apps-SDK/*
/hybris-oms/*
/hybris-sbg/*
licenses
/Mobile-Commerce-SDK/*
pom.xml
/hybris/data/*  
/hybris/log/*  
/hybris/sampleconfigurations/*  
/hybris/temp/*
/hybris/bin/ext-addon/*  
/hybris/bin/ext-atddtests/*
/hybris/bin/ext-channel/*  
/hybris/bin/ext-commerce/* 
/hybris/bin/ext-data/*        
/hybris/bin/ext-integration/*        
/hybris/bin/ext-print/*           
/hybris/bin/ext-template/*
/hybris/bin/ext-accelerator/*  
/hybris/bin/ext-atdd/*   
/hybris/bin/ext-backoffice/*  
/hybris/bin/ext-cockpit/*  
/hybris/bin/ext-content/*   
/hybris/bin/ext-deprecated/*  
/hybris/bin/ext-platform-optional/*  
/hybris/bin/ext-supportability/*  
/hybris/bin/custom/platform/*
/hybris/bin/custom/cuppy/*
/hybris/bin/custom/cuppytrail/jalo/*
/hybris/config/.classpath
/hybris/config/.project
/hybris/config/customize/dummy.txt
/hybris/config/languages/dummy.txt
/hybris/config/licence//*
/hybris/config/readme.txt
/hybris/config/tcServer/*
/hybris/config/tomcat/*
/hybris/bin/platform/.classpath
/hybris/bin/platform/.externalToolBuilders/HybrisCodeGeneration.launch
/hybris/bin/platform/.externalToolBuilders/org.eclipse.wst.validation.validationbuilder.launch
/hybris/bin/platform/.fbprefs
/hybris/bin/platform/.pmd
/hybris/bin/platform/.project
/hybris/bin/platform/.settings/org.eclipse.core.resources.prefs
/hybris/bin/platform/.settings/org.eclipse.jdt.core.prefs
/hybris/bin/platform/.settings/org.eclipse.jdt.ui.prefs
/hybris/bin/platform/.settings/org.eclipse.ltk.core.refactoring.prefs
/hybris/bin/platform/.settings/org.eclipse.wst.validation.prefs
/hybris/bin/platform/.settings/org.springframework.ide.eclipse.beans.core.prefs
/hybris/bin/platform/.settings/org.springframework.ide.eclipse.core.prefs
/hybris/bin/platform/adminserver.bat
/hybris/bin/platform/adminserver.sh
/hybris/bin/platform/apache-ant-1.9.1/*
/hybris/bin/platform/bootstrap/*
/hybris/bin/platform/build.number
/hybris/bin/platform/build.xml
/hybris/bin/platform/env.properties
/hybris/bin/platform/ext/*
/hybris/bin/platform/extensions.xml
/hybris/bin/platform/*
/hybris/bin/platform/hybrisserver.bat
/hybris/bin/platform/hybrisserver.sh
/hybris/bin/platform/lib/*
/hybris/bin/platform/resources/*
/hybris/bin/platform/tomcat/*
/hybris/bin/platform/velocity.log
/hybris/config/licence/*
/GIT_COLA_MSG
/HEAD
/README.md
/config
/description
/index
/info/exclude
/logs/HEAD
/logs/refs/heads/gh-pages
/logs/refs/remotes/origin/HEAD
/objects/0c/6b24d824897acbb75a5aea056d44b3b7c9527f
/objects/30/366a6e9837b9c3b160a7b785e780e065870436
/objects/6b/514f35c993560956f08e7a4957bec18fc973bb
/objects/a1/74e380e55c9e096e14a31c7f5cd60486cff7f7
/objects/b5/f20c235ffda37acca9d177d47f34c7f77aab84
/objects/be/6b8c71eb425c489ef2c11e0032bcd75b6dacdc
/objects/fa/98a024927c149ebad1160d8f7914e40968c6f2
/objects/fe/16936ab9694795dc903a77b78a5b05d4da29a2
/packed-refs
/refs/heads/gh-pages
/refs/remotes/origin/HEAD
/hybris/bin/custom/cuppytrail/classes/de/hybris/platform/cuppytrail/daos/impl/DefaultStadiumDAO.class
/hybris/bin/custom/cuppytrail/gensrc/de/hybris/platform/cuppytrail/constants/GeneratedCuppytrailConstants.java
/hybris/bin/custom/cuppytrail/src/de/hybris/platform/cuppytrail/constants/CuppytrailConstants.java
